<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Books to Vote On
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-reorder-group (ionItemReorder)="onRenderItems($event)" disabled="false">
    <ion-item-sliding *ngFor="let item of books">
      <ion-item lines="inset" button [routerLink]="['/book-details', item.id]">
        <ion-label>
          {{ item.task }}
          <!-- <p>{{ item.createdAt | date:'short' }}</p> -->
        </ion-label>
        <!-- <ion-note slot="end" color="primary">{{ item.priority }}</ion-note> -->
      
        <ion-reorder></ion-reorder>
        </ion-item>
      <ion-item-options side="end">
        <ion-item-option *ngIf="isAdmin" (click)="vote(item)" color="secondary">
          Check
          <ion-icon name="checkmark" slot="end"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item *ngIf="!books || books.length == 0">
      No books in the list yet. Press the + button to add.
    </ion-item>
    
    </ion-reorder-group>
  </ion-list>
  <ion-item *ngIf="!isOpaVotePollOpen">
    RESULTS: {{opaVotePollWinner}}
  </ion-item>
  <ion-button (click)="reopenPoll()" *ngIf="!isOpaVotePollOpen">
    Reopen
  </ion-button>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button *ngIf="isOpaVotePollOpen" routerLink="/book-details" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-button *ngIf="isAdmin && isOpaVotePollOpen" (click)="submitVotes()">
      <ion-icon name="done-all"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>